@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: white; */
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: white;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.header {
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  background-color: #149edc;
}

.header--container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header--logo {
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.header--input {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  font-size: large;
  padding: 0px 8px;
}

.header--input:focus {
  outline: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}

.icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.dayChoose--section {
  background-image: url(./components/utils/img/@1x-G5_sunny-intervals-day.jpg);
}

.dayChoose--itemCard__active {
  background-color: white;
  border-top: 8px solid #f26a30;
  padding: 10px;
}

.dayChoose--itemCard__active {
  width: 400px;
}

.itemCard--title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 5px;
}

.itemCard--info {
  display: flex;
}

.itemCard--degrees__position {
  display: flex;
  flex-direction: column;
}

.itemCard--degrees {
  font-size: 24px;
  font-weight: 500;
  display: inline;
  float: rigth;
  text-align: end;
  margin-right: 20px;
}

.itemCard--degrees__max {
  font-weight: 700;
}

.itemCard--textBlock {
  padding-left: 20px;
  border-left: 1px solid gray;
}

.itemCard--text {
  font-size: 20px;
  font-weight: 400;
}
